{% extends "default/index.html.twig" %}

{% block content %}

    <div id="sortbar">
        <span>order by</span>
        <span>
            <a class="selected down" href="#" id="order-by-score">
                score
            </a>
        </span>
        <span>
            <a class="down" href="#"  id="order-by-date">
                date
            </a>
        </span>
        <span>
            <a class="down" href="#" id="order-by-title">
                title
            </a>
        </span>
    </div>

    <hr/>

    <div id="content">
        <div id="loading">
            Please wait...
        </div>
        <div id="threads" class="none">
            <div class="thread-content mb-2">
                <div>
                    <span class="index"></span> - <a href="#" class="link"></a>
                </div>
                <div>
                    Added by <span class="added_by"></span> on <span class="date"></span> - votes : <span class="score"></span> - <a href="#" class="vote">up</a> - <a href="#" class="thread"><span class="nb_comments"></span> comments</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $(document).ready(function(){

            var orderBy = $("#sortbar a.selected").attr('id').substr(9);
            var way = $(this).hasClass("down") ? "DESC" : "ASC";

            getThreads('score', 'DESC');

            $("#sortbar a").click(function(e){
                e.preventDefault();

                orderBy = $(this).attr('id').substr(9);
                if ($(this).hasClass("down")){
                    way = "ASC";
                    $(this).removeClass("down").addClass("up");
                } else {
                    way = "DESC";
                    $(this).removeClass("up").addClass("down");
                }

                $("#sortbar a").removeClass("selected");
                $(this).addClass("selected");

                $(".thread-content:gt(0)").remove();
                $("#threads").hide();
                $("#loading").show();

                getThreads(orderBy, way);

            });

            $(document).on("click", ".vote", function(e){

                e.preventDefault();

                var id = $(this).attr('id').substr(5);

                voteForThread(id, orderBy, way);
            });
        });

        function getThreads(orderBy, way){

            $.ajax({
                type: 'POST',
                url: "{{ path('get_threads')}} ",
                data: { orderBy : orderBy , way : way},
                datatype: "json",
                complete: function(data) {

                    $("#loading").hide();
                    $("#threads").show();

                    j = 0;
                    for (var i in data.responseJSON.threads) {
                        if (j > 0) {
                            $(".thread-content:first").clone().appendTo("#threads")
                        }
                        $(".thread-content:last .index").html(data.responseJSON.threads[i]['index']);
                        $(".thread-content:last .link").html(data.responseJSON.threads[i]['title']);
                        $(".thread-content:last .link").attr('href',data.responseJSON.threads[i]['link']);
                        $(".thread-content:last .added_by").html(data.responseJSON.threads[i]['added_by']);
                        $(".thread-content:last .date").html(data.responseJSON.threads[i]['date']);
                        $(".thread-content:last .score").html(data.responseJSON.threads[i]['score']);
                        $(".thread-content:last .vote").attr('id',data.responseJSON.threads[i]['vote']);
                        $(".thread-content:last .nb_comments").html(data.responseJSON.threads[i]['nb_comments']);
                        $(".thread-content:last .thread").attr('href',data.responseJSON.threads[i]['thread_link']);
                        j++;
                    }
                }
            });
        }

        function voteForThread(id, orderBy, way){
            $.ajax({
                type: 'POST',
                url: "{{ path('vote') }} ",
                data: {id: id},
                datatype: "json",
                complete: function (data) {
                    if (data.responseJSON.result === 1){
                        $(".thread-content:gt(0)").remove();
                        $("#threads").hide();
                        $("#loading").show();

                        getThreads(orderBy, way);
                    };
                }
            });
        }

    </script>
{% endblock %}