{% extends "default/index.html.twig" %}

{% block content %}

<div id="content">

    <h2>Submit your own link</h2>
    <hr/>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>

{% endblock %}